# Loops

in general, statement are executed sequentially: The first statement in a function is executed first, followed by the second , and so on. There may be a situation when you need to execute a block of code serveral number of items
    
    programming language provide various control structure that allow for more complicated execution paths.

# for loop

The for loop in python is used to iterate over a sequence (list,tuple, sting) or other iterable objects. Iterating over a sequence is called traversal.
Loop continuous untill we reach the last item in the sequence. The body of for loop is seprated from the rest of the code usig indentation.

In [1]:
location = ['Bangloru','Haldwani','Nainital','Rampur','Hydrabad','Delhi']
location

['Bangloru', 'Haldwani', 'Nainital', 'Rampur', 'Hydrabad', 'Delhi']

In [2]:
# list of string
location = ['Bangloru', 'Haldwani', 'Nainital', 'Rampur', 'Hydrabad', 'Delhi']

for city in location:
    print(city)

Bangloru
Haldwani
Nainital
Rampur
Hydrabad
Delhi

In [4]:
salary = [5600,4000,3000,1000,4500,8000,7000,3800]

for val in salary:
    if val > 5500:
        print(val)

5600
8000
7000